<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--<link rel="icon" href="../../favicon.ico">-->
    <title>Blog Template for Bootstrap</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">
<!--
    <link href="{% static 'blog/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'blog/css/bootstrap.min.responsive.css' %}" rel="stylesheet">
    <link href="{% static 'blog/css/local.css' %}" rel="stylesheet">
-->

    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    

    <!-- Custom styles for this template -->
    <!--<link href="blog.css" rel="stylesheet">-->
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!--<script src="../../assets/js/ie-emulation-modes-warning.js"></script>-->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
<!--
    <style id="style-1-cropbar-clipper">/* Copyright 2014 Evernote Corporation. All rights reserved. */
.en-markup-crop-options {
    top: 18px !important;
    left: 50% !important;
    margin-left: -100px !important;
    width: 200px !important;
    border: 2px rgba(255,255,255,.38) solid !important;
    border-radius: 4px !important;
}

.en-markup-crop-options div div:first-of-type {
    margin-left: 0px !important;
}
</style>
-->
</head>

<!-- navigator -->
<div id="navigator" class="navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse">
        <ul id="navList" class="nav navbar-nav">
            <li><a id="blog_nav_sitehome" class="menu" href="{% url 'blog:index' %}">SimonCZW</a></li>
            <li><a id="blog_nav_contact" class="menu" rel="nofollow" href="{% url 'blog:test' %}">About</a></li>
            <li><a id="blog_nav_admin" class="menu" rel="nofollow" href="{% url 'blog:category' %}">admin</a></li>
        </ul>
        </div>
    </div>
</div>

<div class="container">


    <div class="row">
        <div class="col-sm-8 blog-main">
          

          {% load pagination_extras %}
          {% pagination PaperList 3 %}

          {% for contact in contacts %}

          <div class="blog-post">
            <h3 class="blog-post-title">{{ contact.title }}</h3>
            <p class="blog-post-meta">{{ contact.update_time }} by {{ contact.author }}  <a href="{{ contact.get_absolute_url }}">Readmore</a></p>
            <p>
              {{ contact.content }}
            </p>
          </div>

          {% endfor %}



          <!-- paginator -->
          <nav>
            <ul class="pager">
              <span class="step-links">
                  {% if contacts.has_previous %}
                      <li><a href="?page={{ contacts.previous_page_number }}">previous</a></li>
                  {% endif %}
                  
                  {% if current_page == first_page %}
                      <li>{{ current_page }}</li>
                  {% else %}
                      <li><a href="?page={{ first_page }}">{{ first_page }}</a></li>
                  {% endif %} 

                  {% if LeftMoreTag %}
                      <span>...</span>
                  {% endif %}

                  {% for LeftPage in left_pages %} 
                      <li><a href="?page={{ LeftPage }}">{{ LeftPage }}</a></li>
                  {% endfor %}

                  {% if current_page != first_page and current_page != last_page %}
                      <span>{{ current_page }}</span>
                  {% endif %}

                  {% for RightPage in right_pages %}
                      <li><a href="?page={{ RightPage }}">{{ RightPage }}</a></li>
                  {% endfor %}

                  {% if RightMoreTag %}
                      <span>...</span>
                  {% endif %}

                  {% if current_page == last_page %}
                    <li>{{ current_page }}</li>
                  {% else %}
                    <li><a href="?page={{ last_page }}">{{ last_page }}</a></li>
                  {% endif %}

                  {% if contacts.has_next %}
                    <li><a href="?page={{ contacts.next_page_number }}">next</a></li>
                  {% endif %}

              </ul>
            </nav>

        </div><!-- /.blog-main -->



        <!--
        right blog-sidebar
        -->
        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            
          <div class="sidebar-module sidebar-module-inset">
            <h4>About</h4>
            <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
          </div>
          
          <div class="sidebar-module">
            <h4>Archives</h4>
            <ol class="list-unstyled">
              <li><a href="#">March 2014</a></li>
              <li><a href="#">February 2014</a></li>
              <li><a href="#">January 2014</a></li>
              <li><a href="#">December 2013</a></li>
              <li><a href="#">November 2013</a></li>
              <li><a href="#">October 2013</a></li>
              <li><a href="#">September 2013</a></li>
              <li><a href="#">August 2013</a></li>
              <li><a href="#">July 2013</a></li>
              <li><a href="#">June 2013</a></li>
              <li><a href="#">May 2013</a></li>
              <li><a href="#">April 2013</a></li>
            </ol>
          </div>
          
          <div class="sidebar-module">
            <h4>Elsewhere</h4>
            <ol class="list-unstyled">
              <li><a href="https://github.com/">GitHub</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Facebook</a></li>
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->




      </div><!-- /.row -->

    </div><!-- /.container -->

<!--
<hr />
    <div class="blog-footer">
        <p>Blog template built for <a href="http://getbootstrap.com">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>
        </p>
    </div>
-->

</body>
</html>


