<html>
{% load staticfiles %}
<body> 
<!--
    <h1>{{ paper.title }}</h1>
    <hr />
    <h2>{{ paper.author }}</h2>
    <p>{{ paper.created_time }}<br />{{ paper.update_time }}</p>
-->
<!--
    {% load paper_pre_next %}
    {% if paper.pk|has_previous_paper %}
    <a href={{ paper.pk|get_previous_url }}>previous: {{ paper.pk|get_previous_name }}</a>
    {% endif %}

    {% if paper.pk|has_next_paper %}
    <a href={{ paper.pk|get_next_url }}>next: {{ paper.pk|get_next_name }}</a>
    {% endif %}
-->

    {% load paper_pre_next %}
    {% paper_previous_next_parse paper.pk %}
    {% if paper_has_previous %}
      <a href={{ previous_paper_url }}>previous1: {{ previous_paper_title }}</a>
    {% endif %}

    {% if paper_has_next %}
      <a href={{ next_paper_url }}>next1: {{ next_paper_title }}</a>
    {% endif %}

    <p>Click: {{ paper.click }}</p>

    {% load markdown_tags %}  
    <p>{{ paper.content|Trans4markdown }}</p>
    <!--use markdown load the /media/photos/xxx.jpg&png directly-->
    <!-- MEDIA_URL: /media  paper.images: /photos/xxx.jpg and url file has /media-->
    <!--
    <img src="{{ MEDIA_URL }}{{ paper.images }}">
    -->

  </body>
</html>

